div
{
	background-attachment:fixed;
}
div:first-of-type
{
	background-image:url('https://www.w3schools.com/howto/img_parallax.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:1000px;
	position:relative;
}
div:first-of-type h2
{
	position:absolute;
	margin:0;
	padding:0;
	color:#FFF;
	background-color:#000;
	padding:20px;
	width:300px;
	text-align:center;
	font-size:36px;
	font-weight:lighter;
	text-transform:uppercase;
	top:50%;
	-webkit-transform:translate(-50% , -50%);
	transform:translate(-50% , -50%);
	left:50%;
}
div:nth-of-type(2) h2
{
	text-align:center;
	font-size:36px;
	font-weight:lighter;
	text-transform:uppercase;
	margin-top:130px;
	margin-bottom:50px;
}
div:nth-of-type(2) p
{
	line-height:1.5;
	font-size:28px;
	margin:4%;
}
div:nth-of-type(3)
{
	background-image:url('https://www.w3schools.com/howto/img_parallax2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:700px;
	position:relative;
}
div:nth-of-type(3) h2
{
	position:absolute;
	margin:0;
	padding:0;
	color:#FFF;
	padding:20px;
	width:300px;
	text-align:center;
	font-size:36px;
	font-weight:lighter;
	text-transform:uppercase;
	top:50%;
	-webkit-transform:translate(-50% , -50%);
	transform:translate(-50% , -50%);
	left:50%;
}
div:nth-of-type(4) p
{
	line-height:1.5;
	font-size:28px;
	margin:4%;
}
div:nth-of-type(5)
{
	background-image:url('https://www.w3schools.com/howto/img_parallax3.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:700px;
	position:relative;
}
div:nth-of-type(5) h2
{
	position:absolute;
	margin:0;
	padding:0;
	color:#FFF;
	padding:20px;
	width:300px;
	text-align:center;
	font-size:36px;
	font-weight:lighter;
	text-transform:uppercase;
	top:50%;
	-webkit-transform:translate(-50% , -50%);
	transform:translate(-50% , -50%);
	left:50%;
}
div:nth-of-type(6)
{
	background-color:#000;
	height:300px;
	margin:0;
}
div:nth-of-type(6) p
{
	line-height:1.5;
	font-size:28px;
	margin:0 4%;
	color:#FFF;	
	padding:4%;
}
div:nth-of-type(7)
{
	background-image:url('https://www.w3schools.com/howto/img_parallax.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:1000px;
	position:relative;
}
div:nth-of-type(7) h2
{
	position:absolute;
	margin:0;
	padding:0;
	color:#FFF;
	background-color:#000;
	padding:20px;
	width:300px;
	text-align:center;
	font-size:36px;
	font-weight:lighter;
	text-transform:uppercase;
	top:50%;
	-webkit-transform:translate(-50% , -50%);
	transform:translate(-50% , -50%);
	left:50%;
}